body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
#id_number_correct{
    width: 30px;
    color: #000;
    background-color:#fff;
    border: none;
}
input{
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;
    width: 70%;
    color: #fff;
    font: sans-serif;
    font-size: x-large;
    background-color:#337ab7;
    border-color:#2e6da4;
 }
 select{
    height:auto;
    width: 60%;
    color: #000;
    background-color:#ffffff;
    border-color:#2e6da4;
 }
 textarea {
    resize: none;
    overflow: hidden;
    height: fit-content; 
    padding-left: 50px;
    padding-right: 50px;
    border: none;
    width: 100%;
 }

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

