{% extends "app/layout.html" %}

{% block content %}
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: none;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<h2>{{ title }}</h2>
<hr>

<table>
  <tr>
    <th>Number of questions to generate each time: </th>
    <td>1</td>
  </tr>
  <tr>
    <th>Reset all questions to incomplete: </th>
    <td>Test</td>
  </tr>
  <tr>
    <th>Number of correct answers before completed: </th>
    <td>2</td>
  </tr>
</table>

{% endblock %}
